@charset "UTF-8";

.btn-primary {
	background-color: purple;
	border-color: purple;
}

.btn-primary:hover {
	background-color: #710071;
	border-color: #710071;
}

.btn-primary:active {
	background-color: purple !important;
	border-color: purple !important;
}

.btn-primary:focus {
	background-color: purple !important;
	border-color: purple !important;
}