@charset "UTF-8";

img {
  width: 24px;
  height: 24px;
}

.btn-primary {
	background-color: purple;
	border-color: purple;
}

.btn-primary:hover {
	background-color: #710071;
	border-color: #710071;
}

.btn-primary:active {
	background-color: purple !important;
	border-color: purple !important;
}

.btn-primary:focus {
	background-color: purple !important;
	border-color: purple !important;
}

.dropdown-item:active {
	background-color: lightgray;
	color: black;
}

.btn-outline-success {
	color: purple;
	border-color: purple;
}

.btn-outline-success:hover {
	color: white;
	background-color: purple !important;
	border-color: purple !important;
}

button {
	width: 100%;
}

button, #link {
	width: 100%;
}