@charset "UTF-8";

img {
  width: 30px;
  height: 30px;
}

.dropdown-item:active {
	background-color: lightgray;
	color: black;
}

.btn-outline-success {
	color: purple;
	border-color: purple;
}

.btn-outline-success:hover {
	color: white;
	background-color: purple !important;
	border-color: purple !important;
}

button {
	width: 100%;
}