@charset "UTF-8";

svg {
	width: 20px;
	height: 20px;
}

button, #link {
	width: 100%;
}

.btn-primary {
	background-color: purple;
	border-color: purple;
}

.btn-primary:hover {
	background-color: #710071;
	border-color: #710071;
}

.btn-primary:active {
	background-color: purple !important;
	border-color: purple !important;
}

.btn-primary:focus {
	background-color: purple !important;
	border-color: purple !important;
}

span {
	color: red;
}