@charset "UTF-8";

body {
	font-family: "Oswald", sans-serif;
}

.navbar-brand {
	letter-spacing: 1px;
}

.btn {
	border-radius: 8px;
}

.btn-primary {
	color: #000;
	background-color: #FBFA0C;
	border-color: #808080;
}

.btn-primary:hover {
	color: #000;
	background-color: #fbe60c;
	border-color: #808080;
}

.btn:first-child:active {
	color: #000;
	background-color: #fbe60c;
	border-color: #808080;
}

.btn-secondary {
	background-color: #676767;
	border-color: #000;
}

.btn-secondary:hover {
	background-color: #5a5a5a;
	border-color: #000;
}

.btn-secondary:active {
	background-color: #5a5a5a !important;
	border-color: #000 !important;
}

.dropdown-item:focus {
	background-color: rgba(0, 0, 0, 0.1);
	color: #000;
}

button, #delete {
	width: 100%;
}